---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "El Dev Master";
---
<BaseLayout pageTitle={pageTitle}>
  <h1 class="font-extrabold text-5xl text-yellow-500 mt-0 mb-4">{pageTitle}</h1>
  <p class="font-base text-lg text-slate-50 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam corrupti voluptates numquam dolorum veritatis quasi accusamus sunt placeat temporibus similique. Animi illum ratione perferendis quas? Sunt nesciunt aliquid officia officiis!</p>
</BaseLayout>