---
import Navigation from './Navigation.astro'
---

<aside class=" z-10 p-2 fixed w-64 h-screen bg-zinc-950">
  <h5 class=" items-center p-2 font-medium text-2xl text-yellow-400">
    <a href="/">
      El Dev Master 
      <i class="fa-solid fa-hat-wizard fa-sm" style="color: #eab308;"></i>
    </a>
  </h5>
  <button></button>
  <Navigation/>
</aside>